.productCard {
  align-items: center;
  background: white;
  gap: 50px;
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  flex-shrink: 0;
}

.productCard h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.productCard p {
  margin: 5px 0;
}

.goldType {
  font-size: 14px;
  color: #e6ca97; /* Yellow Gold */
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.star-rating {
  margin: 10px;
  padding: 10px;
}
