.rating {
  font-size: 16px;
  margin-top: 5px;
  align-items: center;
  display: flex;
  gap: 12px;
}

.stars {
  display: flex;
  gap: 2px;
}

.filledStar {
  color: #f39c12;
}

.emptyStar {
  color: #dcdcdc;
}

.ratingText {
  font-size: 14px;
}
