@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/Avenir/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/Avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
body {
  font-family: Arial, sans-serif;
  margin: 8%;
  margin-top: 5%;
  padding: 0;
  background-color: white;
}
.filterButtons {
  display: flex;
  right: 12%;
  gap: 15px;
  margin-top: 10%;
  position: fixed;
  top: 5%;
  background: white;
  z-index: 1000;
}

.filterButtons button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat Regular", sans-serif;
  border-radius: 6px;
  transition: 0.3s;
}

.filterButtons button:hover {
  background-color: #888;
}

.container {
  position: absolute;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

.grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: 15px;
  overflow-x: auto;
  white-space: nowrap;
}

.grid::-webkit-scrollbar {
  height: 10px;
}

.grid::-webkit-scrollbar-track {
  background: #999;
  border-radius: 5px;
}

.grid::-webkit-scrollbar-thumb {
  background: #bbbaba;
  border-radius: 5px;
  height: 10px;
}

.grid::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.top-header {
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
  margin: 10px auto;
  font-family: "Avenir Book", sans-serif;
  font-size: 45px;
  z-index: 1000;
  padding: 15px 0;
  max-width: 90%;
}

.content {
  padding-top: 80px;
  padding-top: 20px;
  overflow-y: auto;
  height: calc(100vh-80px);
}

/*iphone14, samsung galaxy s20 ultra*/
@media (max-width: 480px) {
  .filterButtons {
    flex-wrap: wrap;
    margin-top: 5px;
    position: sticky;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 85%;
  }
  .grid {
    flex-direction: column;
    overflow-x: hidden;
  }
  .grid::-webkit-scrollbar {
    height: 5px;
  }
  .top-header {
    font-size: 24px;
    top: 0;
    width: 100%;
    padding: 20px 0;
  }

  .content {
    padding-top: 80px;
  }
}

/* ipad mini, samsung galaxy s8+, asus zenbook */
@media (max-width: 768px) {
  .filterButtons {
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: -10%;
    position: sticky;
  }
  .container {
    width: 95%;
    margin-top: 5%;
    align-items: center;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow-y: auto;
    padding: 2px;
  }
  .top-header {
    font-size: 26px;
    left: 50%;
    top: 0;
    position: fixed;
    background: white;
    padding: 45px 200px;
    padding: 20px;
    z-index: 1000;
  }
  .productCard {
    width: 100%;
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .content {
    margin-top: 70px;
    padding-top: 20px;
    overflow-y: auto;
    height: calc(100vh-80px);
  }
}

/* ipad air, ipad pro */
@media screen and (max-width: 1024px) {
  .top-header {
    font-size: 32px;
    padding: 20px 0;
  }
  .content {
    margin-top: 90px;
  }
}
