@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/Avenir/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/Avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

.grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* margin: 20px auto; */
  gap: 20px;
  padding-bottom: 15px;
  overflow-x: auto;
  white-space: nowrap;
}

.grid::-webkit-scrollbar {
  height: 10px;
}

.grid::-webkit-scrollbar-track {
  background: #999;
  border-radius: 5px;
}

.grid::-webkit-scrollbar-thumb {
  background: #bbbaba;
  border-radius: 5px;
  height: 10px;
}

.grid::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.top-header {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
  margin: 20px auto;
  font-family: "Avenir Book", sans-serif;
  font-size: 45px;
}

.content {
  padding-top: 80px;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 60%;
  }
  .grid {
    flex-direction: column;
    overflow-x: hidden;
  }
  .grid::-webkit-scrollbar {
    height: 5px;
  }
  .top-header {
    font-size: 30px;
    top: 7%;
  }
  .content {
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
  .grid {
    gap: 15px;
  }
  .top-header {
    font-size: 35px;
    top: 6%;
  }
}
